@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

:root {
  --background-color: #fcbf49;
  --start-color: #3592d4;
  --stop-color: #d62828;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  font-family: 'Sen', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #003049;
}

.titulo {
  font-size: 2em;
}

.botoes button {
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'Sen';
  background: transparent;
  margin: 0px 20px;
}

.botoes button:hover {
  transform: scale(1.1);
  filter: brightness(85%);
}

.zerar {
  color: #003049;
}

.relogio {
  font-size: 3em;
}

.iniciar,
.iniciado {
  color: var(--start-color);
}

.pausar,
.pausado {
  color: var(--stop-color);
}
